 <div class="image-space">
 <div class = "image">
    <img src = "https://www.shape.com/thmb/-qCHiZQXESlbwf4eLEd3zSp_oQQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Gallery-Morning-Yoga-madison-lavern-CDJCAcAAPlU-unsplash-2000-6e332c6b5b0b4ce5acbc80c9ed75302f.jpg">
    <h1>YOGA EXERCISES</h1>
    <p>
        Let your stress stretched out through yoga!

        Practice daily and add many happy years to your life.

        Develop a balance among your body, mind and soul.
    </p>
 </div>
</div>
 <div class="row" width="100%" height="30%">
    <div class="col-md-3" *ngFor="let pose of poses">
        <div class="card mb-5 margin-top: 30px;" style="width: 18rem;">
           
            <div class="card-body">
                <span class = "name">{{pose.name}}</span><br>
                <img [src] = "pose.image_url" width="100%"><br>
                <span>{{pose.description}}</span><br>
                <span><a>Difficulty :</a>{{pose.difficulty}}</span><br>
                <!-- <button class="btn btn-primary" type="button" (click)="onBook(pose.poses_id)">View</button> -->
            </div>
            
          </div>
    </div>
</div>
